@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@font-face {
  font-family: 'Nekst Serif';
  src: url('./fonts/FONTSPRINGDEMO-NekstBlackRegular.woff2')
    format('woff2-variations');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nekst Serif';
  src: url('./fonts/FONTSPRINGDEMO-NekstBoldRegular.woff2')
    format('woff2-variations');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nekst Serif';
  src: url('./fonts/FONTSPRINGDEMO-NekstLightRegular.woff2')
    format('woff2-variations');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DTLNobel';
  src: url('./fonts/DTLNobelT-Bold.woff2') format('woff2-variations');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DTLNobel';
  src: url('./fonts/DTLNobelT-Light.woff2') format('woff2-variations');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DTLNobel';
  src: url('./fonts/DTLNobelT-LightItalic.woff2') format('woff2-variations');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DTLNobel';
  src: url('./fonts/DTLNobelT.woff2') format('woff2-variations');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

section {
  overflow: hidden;
}
body {
  margin: 40px;
  border-bottom: 3px solid rgb(215, 5, 5);
  border-left: 3px solid rgb(215, 5, 5);
  border-right: 3px solid rgb(215, 5, 5);
}

svg {
  color: rgb(215, 5, 5);
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid rgb(215, 5, 5);
  border-top: 3px solid rgb(215, 5, 5);
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

.logo {
  display: flex;
  justify-content: center;
  width: 284px;
  background-color: rgb(215, 5, 5);
}

.logotipo img {
  width: auto;
  height: 100vw;
  border: 5px solid rgb(215, 5, 5);
}

.logo2 {
  display: none;
  width: 100px;
}

#principalNav {
  width: 30vw;
  height: 0px;
  display: flex;
  align-items: center;
  margin-top: 28px;
  padding: 0;
}

nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  align-items: center;
  list-style-type: none;
}
nav ul li:hover {
  cursor: pointer;
}
.nav-a {
  display: flex;
  position: relative;
  justify-content: flex-end;
  align-items: baseline;
  font-family: 'DTLNobel';
  font-weight: 300;
  font-size: 1.3rem;
  color: rgb(215, 5, 5);
  text-decoration: none;
  margin-top: 24px;
  margin-left: 18px;
  margin-right: 18px;
  cursor: pointer;
  z-index: 999;
  transition: transform 0.3s ease;
}

.nav-a:hover {
  cursor: pointer;
  font-size: 1.3rem;
  font-family: 'DTLNobel';
  font-weight: 500;
  margin-top: 24px;
  margin-left: 18px;
  margin-right: 18px;
  text-decoration: underline;
  transform: scale(1.1);
}

.rrss {
  display: flex;
  justify-content: flex-end;
  margin-right: 6px;
}

a {
  display: flex;
}

img .rrss {
  width: auto;
  height: 50%;
}

.hamburguesa {
  display: none;
}
svg {
  fill: rgb(215, 5, 5);
}

section {
  display: flex;
  border-bottom: 3px solid rgb(215, 5, 5);
}

p {
  font-family: 'DTLNobel';
  font-weight: 300;
  font-size: 1.2rem;
  color: rgb(215, 5, 5);
  margin-top: 60px;
  line-height: 1.7;
}

h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 130pt;
  padding-left: 40px;
  line-height: 0.9;
  color: rgb(215, 5, 5);
}

h2 {
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 100px;
  color: rgb(215, 5, 5);
  margin-top: 94px;
  margin-left: 40px;
  line-height: 0.9;
}

h3 {
  font-family: 'DTLNobel';
  font-weight: 500;
  font-size: 100px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(215, 5, 5);
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 0%;
  padding-bottom: 0;
}

h4 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 20pt;
  background-color: rgb(215, 5, 5);
  color: white;
  margin-top: 0;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
}

h5 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 20pt;
  color: rgb(215, 5, 5);
  margin-top: 20px;
  margin-left: 50px;
  margin-bottom: 20px;
}

h6 {
  font-family: 'Nekst Serif';
  font-weight: 700;
  font-size: 28px;
  background-color: rgb(215, 5, 5);
  color: white;
  margin-top: -16px;
  margin-left: 0px;
  padding-bottom: 10px;
  line-height: 0.9;
}

.fecha {
  width: 50vw;
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
}

.col1 {
  width: 32vw;
}

.col2 {
  width: 60vw;
  height: 100vh;
  overflow: hidden;
  margin-right: 10px;
}
.col3 {
  width: 40vw;
}

.col4 {
  width: 30vw;
  height: 100vh;
  overflow: hidden;
  margin-left: -18px;
  margin-top: 44px;
}
.mapa {
  width: 100%;
  height: 100%;
  object-fit: contain;
}

.luna {
  font-family: 'DTLNobel';
  font-weight: 300;
  font-size: 0.9rem;
  margin-right: 20px;
  margin-top: 30px;
}

.boda {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.hotel {
  font-family: 'DTLNobel';
  font-weight: 500;
  font-size: 1.3rem;
  color: rgb(215, 5, 5);
  margin-top: 20px;
  line-height: 1.7;
  text-align: right;
  padding-right: 20px;
}

.motivo {
  display: flex;
  flex-direction: row;
}

.texto_inicio {
  display: flex;
  width: 25vw;
  margin-left: 10px;
  padding-left: 40px;
}
.anillos {
  position: absolute;
  top: 40vh;
  left: 42vw;
  width: 12vw;
  height: auto;
  object-fit: cover;
  object-position: center;
}

.anillos img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.anillos:hover img {
  transform: scale(1.2) rotate(3deg);
  opacity: 0.9;
}

.alturadiv {
  height: 80px;
}

#itinerario {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}

.menu-item {
  position: relative;
  outline: 2px solid rgb(215, 5, 5);
  flex: 1;
  overflow: hidden;
  text-decoration: none;
  color: black;
  cursor: pointer;
  z-index: 999;
}

.menu-item:hover {
  cursor: pointer;
}

.menu-item:hover h2,
.menu-item:hover h5,
.menu-item:hover h3 {
  color: white;
}

.link-hovered {
  background-color: rgb(215, 5, 5);
  cursor: pointer;
  color: white;
}

.menu-item.link-hovered {
  cursor: pointer;
  background-color: rgb(215, 5, 5);
  color: white;
}

.texto_tokyo {
  display: flex;
  width: 74 vw;
  margin-left: 10px;
  padding-left: 40px;
  margin-right: 10px;
  padding-right: 349px;
  margin-bottom: 60px;
}

.dias {
  font-family: 'DTLNobel';
  font-weight: 500;
  font-size: 56px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1.2px rgb(215, 5, 5);
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 0%;
  padding-bottom: 0;
}

.hoteles {
  display: flex;
  justify-content: right;
  align-items: end;
  width: 40vw;
  height: auto;
}

.video-mascara {
  width: 20vw;
  height: 60vh;
  overflow: hidden;
  mask-size: cover;
  margin-right: 0;
  padding-top: 0;
}

.video-mascara video {
  width: 40vw;
  height: 90vh;
  transform: translateY(-41%);
  object-fit: cover;
  margin-right: 0;
}

.row {
  display: flex;
  flex-direction: row;
}
.column {
  display: flex;
  flex-direction: column;
}

#tokyo-imagenes {
  justify-content: space-between;
}

.imagenes_tokyo {
  width: 50vh;
  margin-top: 60px;
  height: auto;
  object-fit: cover;
}
.media {
  flex: 1;
  max-width: 33vw;
  overflow: hidden;
}

.textositios {
  margin-left: 40px;
}

.imagenes_recortadas {
  width: 40%;
  height: auto;
  z-index: 30;
}

.w-100 {
  width: 100%;
}

#takaragawa {
  max-width: 100%;
}

#contenedortaka {
  display: flex;
}

.child {
  flex-grow: 1;
  justify-content: flex-end;
}

.fotos_taka {
  width: 50vw;
  height: auto;
}

.texto_taka {
  margin-left: 40px;
  padding-right: 360px;
  width: 38vw;
}

.fotos_exp {
  width: 50vw;
}

.imagenes_recortadas2 {
  width: 10vw;
  height: auto;
}

/* / SLIDER */

.slider-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 60px;
}

.slider-texts {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 30vw;
  margin-bottom: 12px;
  margin-right: 20px;
  margin-left: 30px;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 2rem;
  line-height: 0.9;
  color: rgb(215, 5, 5);
  text-align: right;
}
.display {
  display: flex;
}
.hide {
  display: none;
}

.slider-container img {
  width: 40vw;
}

.text-selected {
  padding: 0;
  margin: 0;
  width: 30vw;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 3rem;
  /* line-height: 0.9; */
  color: rgb(215, 5, 5);
}

.columna_taka {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  display: flex;
  justify-content: space-between;
  width: 304px;
  aspect-ratio: 1;
  border: 8px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  margin-top: -140px;
  margin-bottom: 100px;
  opacity: 0;
}
.card .image {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card:nth-child(1) {
  rotate: 10deg;
  translate: calc(-2 * var(--gap));
}

.card:nth-child(2) {
  rotate: 5deg;
  translate: calc(-1 * var(--gap));
}

.card:nth-child(3) {
  rotate: -3deg;
}

.card:nth-child(4) {
  rotate: -10deg;
  translate: var(--gap);
}

.card:nth-child(5) {
  rotate: 20deg;
  translate: calc(2 * var(--gap));
}

.card:nth-child(6) {
  rotate: -6deg;
  translate: calc(2 * var(--gap));
}

.card:nth-child(7) {
  rotate: 2deg;
  translate: calc(2 * var(--gap));
}

.fila {
  display: flex;
  width: 94vw;
}
.texto_experiencias {
  margin-left: 40px;
  margin-right: 60px;
  width: 50vw;
  display: flex;
  flex-direction: row;
}

.description:hover {
  cursor: pointer;
  text-decoration: underline;
}

.description {
  font-family: 'Nekst Serif';
  margin: 0;
}

.columna_taka .slider-texts {
  text-align: left;
}
.taka-parent,
.tokyo-parent,
.kyoto-parent {
  display: flex;
  position: relative;
  width: 100%;
  height: auto;
  align-items: center;
  justify-content: center;
}

.kanji {
  position: absolute;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 8rem;
  line-height: 1;
  color: rgb(215, 5, 5);
  transform-origin: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  transform-origin: center;
  height: 100%;
  text-align: center;
  left: -57px;
  top: -220px;
}
.kanji:hover {
  cursor: pointer;
}

.kanji-tokyo {
  position: absolute;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 8rem;
  line-height: 1;
  color: rgb(215, 5, 5);
  transform-origin: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  transform-origin: center;
  height: 100%;
  text-align: center;
  left: 143px;
  top: -289px;
}
.kanji-tokyo:hover {
  cursor: pointer;
}

.kanji-kyoto {
  position: absolute;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 8rem;
  line-height: 1;
  color: rgb(215, 5, 5);
  transform-origin: center;
  writing-mode: vertical-lr;
  text-orientation: upright;
  transform-origin: center;
  height: 100%;
  text-align: center;
  left: -370px;
  top: 182px;
}
.kanji-kyoto:hover {
  cursor: pointer;
}

/* Sello */

#sello-selector {
  display: flex;
  gap: 10px;
  margin: 20px;
}

.sello {
  width: 50px;
  height: 50px;
  cursor: pointer;
  transition: transform 0.2s;
}

.sello:hover {
  transform: scale(1.2);
}

#zona-estampado {
  position: relative;
  width: 50vw;
  height: 80vh;
  border: 2px dashed #d70505;
  margin: -24px 0;
  background: #fdfdfd;
  cursor: none;
}

.cursor-sello {
  position: absolute;
  display: block;
  pointer-events: none;
  width: 60px;
  height: 60px;
  opacity: 0.5;
}

.no-display {
  display: none;
}

.estampado {
  position: absolute;
  width: 56px;
  height: 60px;
  opacity: 0.5;
  transform: rotate(calc(var(--rotation, 0) deg));
  pointer-events: none;
}

.text_inst {
  font-family: 'DTLNobel';
  font-weight: 300;
  font-size: 1.2rem;
  background-color: rgb(215, 5, 5);
  color: white;
  margin-top: 5px;
  line-height: 1.3;
}

.instrucciones {
  width: 94%;
  padding-left: 20px;
  padding-right: 24px;
  padding-top: 30px;
  padding-bottom: 30px;
  background-color: rgb(215, 5, 5);
}

#footer {
  background-color: rgb(215, 5, 5);
  display: flex;
  flex-direction: row-reverse;
  align-content: center;
  align-items: center;
  justify-content: space-between;
}

.logotipofooter {
  width: auto;
  height: 3.5vw;
}

.text-footer {
  font-size: 1.2rem;
  margin-left: 20px;
  margin-top: 10px;
}

@media (max-width: 480px) {
  .logo {
    display: none;
  }
  .logo2 {
    display: flex;
    justify-content: space-between;
  }
  #principalNav {
    display: none;
  }

  .anillos {
    display: none;
  }

  .fecha {
    margin-left: 12px;
  }

  .row {
    display: flex;
    flex-direction: column;
  }
  .texto_inicio {
    width: 74vw;
    margin-left: 20px;
    padding-left: 0;
  }
  .col1 {
    width: 80vw;
  }
  .col2 {
    width: 80vw;
    height: 66vh;
  }
  .col3 {
    width: 82vw;
  }
  .col4 {
    height: 60vh;
    width: 80vw;
    margin-left: 0px;
  }
  .menu {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 100%;
    height: 1000px;
  }

  h1 {
    font-size: 6rem;
    padding-left: 20px;
  }
  h2 {
    font-size: 5rem;
    margin-top: 20px;
    padding-left: 0px;
    margin-left: 20px;
  }
  h3 {
    font-size: 4rem;
    padding-left: 0;
    margin-left: 20px;
  }
  h5 {
    font-size: 2rem;
    margin-left: 20px;
  }
  .dias {
    font-size: 3rem;
    margin-left: 20px;
  }
  .mapa {
    width: 80%;
  }
  .texto_tokyo {
    margin-left: 10px;
    padding-left: 10px;
    margin-right: 10px;
    padding-right: 24px;
    margin-bottom: 60px;
  }

  .hoteles {
    width: 100%;
  }
  .hotel {
    text-align: center;
  }
  .media {
    flex: 0;
  }
  .slider-texts {
    width: 20vw;
    text-align: left;
  }

  .text-selected {
    padding: 0;
    margin: 0;
    width: 20vw;
    font-family: 'Nekst Serif';
    font-weight: 900;
    font-size: 2rem;
    /* line-height: 0.9; */
    color: rgb(215, 5, 5);
  }
  .slider-container img {
    width: 52vw;
  }
  .kanji-tokyo {
    position: relative;
    top: -125px;
    font-size: 2rem;
    left: 93px;
  }
  .tokyo-parent {
    height: 20px;
  }
  .texto_taka {
    margin-left: 20px;
    width: 72vw;
  }
  .imghotel {
    display: none;
  }
  .slider-container2 {
    width: 52vw;
  }
  .kanji {
    position: relative;
    font-size: 3rem;
    left: 55px;
    top: -12px;
  }
  .taka-parent {
    height: 90px;
  }
  .kanji-kyoto {
    position: relative;
    font-size: 5rem;
    left: -10px;
    top: -125px;
  }
  .kyoto-parent {
    height: 44px;
  }
  .fila {
    flex-direction: column;
  }
  .texto_experiencias {
    margin-left: 20px;
    margin-right: 20px;
    width: 72vw;
  }
  #zona-estampado {
    position: relative;
    width: 79vw;
    height: 80vh;
    margin: 17px 5px;
  }
  .instrucciones {
    width: 89%;
    padding-left: 20px;
    padding-right: 24px;
    padding-top: 30px;
    padding-bottom: 10px;
  }
  .card {
    width: 280px;
    margin-top: -133px;
    margin-left: 44px;
  }
}

@media (min-width: 481px) and (max-width: 1200px) {
  #principalNav {
    width: 46vw;
  }

  .wrap {
    flex-wrap: wrap;
  }

  .col1 {
    width: 95vw;
    margin-bottom: 53px;
  }

  .texto_inicio {
    width: 80vw;
    margin-left: 6px;
  }

  .col2 {
    width: 30vw;
    height: fit-content;
  }

  .col3 {
    width: 30vw;
    height: 84vh;
  }

  .col4 {
    width: 30vw;
    height: fit-content;
  }

  .anillos {
    top: 86vh;
    left: 39vw;
    width: 15vw;
  }

  .dias {
    margin-top: -5px;
  }

  h1 {
    width: 80vw;
    margin-left: -20px;
  }

  h2 {
    font-size: 3.8rem;
    margin-top: 59px;
    margin-left: 20px;
  }

  h3 {
    font-size: 3.5rem;
    margin-top: 30px;
    margin-left: 20px;
  }

  h5 {
    font-size: 1.5rem;
    margin-top: 15px;
    margin-left: 22px;
    margin-bottom: 20px;
  }
  .menu {
    height: 337px;
  }
  .texto_tokyo {
    margin-left: -11px;
    padding-left: 40px;
    margin-right: -4px;
    padding-right: 0;
  }

  .dias {
    margin-left: 20px;
  }

  .tok {
    flex-direction: column;
  }
  .hoteles {
    width: 92vw;
  }
  .kanji-tokyo {
    font-size: 5rem;
    left: 79px;
    top: -159px;
  }

  .text-selected {
    padding: 0;
    margin: 0;
    width: 20vw;
    font-family: 'Nekst Serif';
    font-weight: 900;
    font-size: 2rem;
    /* line-height: 0.9; */
    color: rgb(215, 5, 5);
  }

  .slider-texts {
    width: 20vw;
    text-align: right;
  }
  .texto_taka {
    margin-left: 20px;
    padding-right: 360px;
    width: 82vw;
  }
  .tablet {
    font-size: 4rem;
  }

  .tablet2 {
    font-size: 4rem;
  }

  .kanji_kyoto {
    left: -50px;
    top: 102px;
  }

  .texto_experiencias {
    margin-left: 20px;
  }

  .fecha {
    margin-left: 20px;
  }

  h6 {
    font-size: 26px;
  }

  .text_inst {
    font-size: 1rem;
  }

  .instrucciones {
    width: 83%;
  }
}
