body {
  margin: 40px;
  border-bottom: 3px solid rgb(215, 5, 5);
  border-left: 3px solid rgb(215, 5, 5);
  border-right: 3px solid rgb(215, 5, 5);
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@400;700&display=swap');

@font-face {
  font-family: 'Nekst Serif';
  src: url('./fonts/FONTSPRINGDEMO-NekstBlackRegular.woff2')
    format('woff2-variations');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nekst Serif';
  src: url('./fonts/FONTSPRINGDEMO-NekstBoldRegular.woff2')
    format('woff2-variations');
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Nekst Serif';
  src: url('./fonts/FONTSPRINGDEMO-NekstLightRegular.woff2')
    format('woff2-variations');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DTLNobel';
  src: url('./fonts/DTLNobelT-Bold.woff2') format('woff2-variations');
  font-weight: 900;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DTLNobel';
  src: url('./fonts/DTLNobelT-Light.woff2') format('woff2-variations');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'DTLNobel';
  src: url('./fonts/DTLNobelT-LightItalic.woff2') format('woff2-variations');
  font-weight: 300;
  font-style: italic;
  font-display: swap;
}

@font-face {
  font-family: 'DTLNobel';
  src: url('./fonts/DTLNobelT.woff2') format('woff2-variations');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

svg {
  color: rgb(215, 5, 5);
}
header {
  position: sticky;
  top: 0;
  z-index: 1000;
  border-bottom: 3px solid rgb(215, 5, 5);
  border-top: 3px solid rgb(215, 5, 5);
  height: 80px;
  display: flex;
  justify-content: space-between;
  background-color: white;
}

img .logotipo {
  width: 20vh;
  height: auto;
  display: flex;
}
nav ul {
  display: flex;
  justify-content: flex-end;
  align-content: center;
  list-style-type: none;
  width: 60vw;
}
nav ul li:hover {
  cursor: pointer;
}
.nav-a {
  display: flex;
  position: relative;

  justify-content: flex-end;
  padding-top: 8px;
  font-family: 'DTLNobel';
  font-weight: 500;
  font-size: 16pt;
  color: rgb(215, 5, 5);
  text-decoration: none;
  margin-left: 40px;
  margin-right: 40px;
  cursor: pointer; /* Asegúrate de que el cursor esté aquí */
  z-index: 999;
}

.nav-a:hover {
  cursor: pointer; /* Asegúrate de que el cursor esté también en el hover */
}

.header {
  display: flex;
  justify-content: flex-end;
  width: 20vw;
}
img .rrss {
  width: 60px;
  height: 60px;
}

section {
  display: flex;
  border-bottom: 3px solid rgb(215, 5, 5);
}

.col1 {
  width: 50vw;
}
h1 {
  margin-top: 50px;
  margin-bottom: 30px;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 100pt;
  padding-left: 40px;
  line-height: 0.9;
  color: rgb(215, 5, 5);
  font-variation-settings: 'slnt' -10, 'wdth' 900, 'wght' 900;
  transition: 200ms;

  &:hover {
    font-variation-settings: 'slnt' -10, 'wdth' 100, 'wght' 100;
  }
}

.fecha {
  width: 50vw;
  margin-left: 40px;
  margin-top: 20px;
  display: flex;
}
h4 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 20pt;
  background-color: rgb(215, 5, 5);
  color: white;
  margin-top: 0;
  margin-left: 10px;
  padding-left: 10px;
  padding-right: 10px;
  padding-bottom: 6px;
}

.col2 {
  width: 50vw;
  height: 100vh;
  overflow: hidden;
}
.boda {
  width: 100%;
  height: 100%;
  object-fit: cover;
  /* width: 100%;
  height: auto;
  object-fit: cover;
  object-position: center 50% top 20%; */
}
p {
  font-family: 'DTLNobel';
  font-weight: 300;
  size: 18px;
  color: rgb(215, 5, 5);
}

.motivo {
  display: flex;
  flex-direction: row;
}

.texto_inicio {
  display: flex;
  width: 25vw;
  margin-left: 10px;
  padding-left: 40px;
}
.anillos {
  position: absolute;
  top: 40vh;
  left: 16vw;
  width: 25vw;
  height: auto;
  object-fit: cover;
  object-position: center;
  /* display: flex;
  justify-content: flex-end;
  width: 25vw; */
  /* margin-right: 10px;
  padding-right: 40px; */
}

.anillos img {
  transition: transform 0.3s ease, opacity 0.3s ease;
}
.anillos:hover img {
  transform: scale(1.2) rotate(3deg);
  opacity: 0.9;
}

.alturadiv {
  height: 80px;
}

#itinerario {
  display: flex;
}

.menu {
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 500px;
}

.menu-item {
  position: relative;
  outline: 2px solid rgb(215, 5, 5);

  flex: 1;
  overflow: hidden;
  text-decoration: none;
  color: black;
  cursor: pointer;
  z-index: 999;
}

.menu-item:hover {
  cursor: pointer;
}
h3 {
  font-family: 'DTLNobel';
  font-weight: 500;
  font-size: 100px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 2px rgb(215, 5, 5);
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 0%;
  padding-bottom: 0;
}

h5 {
  font-family: 'Noto Sans JP', sans-serif;
  font-weight: 500;
  font-size: 20pt;
  color: rgb(215, 5, 5);
  margin-top: 0;
  margin-left: 50px;
  margin-bottom: 20px;
}

h2 {
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 100px;
  color: rgb(215, 5, 5);
  margin-top: 0;
  margin-left: 40px;
  line-height: 0.9;
}

.menu-item:hover h2,
.menu-item:hover h5,
.menu-item:hover h3 {
  color: white;
}

.link-hovered {
  background-color: rgb(215, 5, 5);
  cursor: pointer;
  color: white;
}

.menu-item.link-hovered {
  cursor: pointer;
  background-color: rgb(215, 5, 5);
  color: white;
}

.texto_tokyo {
  display: flex;
  width: 100 vw;
  margin-left: 10px;
  padding-left: 40px;
  margin-right: 10px;
  padding-right: 40px;
  margin-bottom: 60px;
}

.dias {
  font-family: 'DTLNobel';
  font-weight: 500;
  font-size: 56px;
  color: rgba(0, 0, 0, 0);
  -webkit-text-stroke: 1.2px rgb(215, 5, 5);
  margin-top: 30px;
  margin-left: 40px;
  margin-bottom: 0%;
  padding-bottom: 0;
}

.hoteles {
  display: flex;
  justify-content: right;
  align-items: end;
  width: 40vw;
  height: auto;
}

.video-mascara {
  width: 20vw;
  height: 60vh;
  overflow: hidden;
  mask-size: cover;
  margin-right: 0;
  padding-top: 0;
}

.video-mascara video {
  width: 40vw;
  height: auto;
  transform: translateY(-30%);
  object-fit: cover;
  margin-right: 0;
}

.row {
  display: flex;
  flex-direction: row;
  /* max-width: 100%; */
}
.column {
  display: flex;
  flex-direction: column;
}

#tokyo-imagenes {
  justify-content: space-between;
}

.imagenes_tokyo {
  width: 50vh;
  margin-top: 60px;
  height: auto;
  object-fit: cover;
}
.media {
  flex: 1;
  max-width: 33vw;
  overflow: hidden;
}

.textositios {
  margin-left: 40px;
}

.imagenes_recortadas {
  width: 40%;
  height: auto;
  z-index: 30;
}

.w-100 {
  width: 100%;
}

#takaragawa {
  max-width: 100%;
}

#contenedortaka {
  display: flex;
}

.child {
  flex-grow: 1;
  justify-content: flex-end;
}

.fotos_taka {
  width: 50vw;
  height: auto;
}

.texto_taka {
  margin-left: 40px;
  width: 50vw;
}

.sello1 {
  width: 150px !important;
  height: auto;
  position: absolute;
  top: 423vh;
  left: 90vw;
}
.fotos_exp {
  width: 50vw;
}

.imagenes_recortadas2 {
  width: 10vw;
  height: auto;
}

.video-mascara media2 {
  width: 50vw;
  height: auto;
  object-fit: cover;
  margin-right: 0;
}

/* / SLIDER */

.slider-container {
  display: flex;
  flex-direction: row;
  width: 100vw;
  margin-top: 60px;
}
.text-selected {
  color: rgb(215, 5, 5);
}

.slider-texts {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 30vw;
  margin-bottom: 12px;
  margin-right: 20px;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 2rem;
  line-height: 0.9;
  color: rgb(215, 5, 5);
  text-align: right;
}
.display {
  display: flex;
}
.hide {
  display: none;
}

.slider-container img {
  width: 40vw;
}

.text-selected {
  display: flex;
  flex-direction: column;
  padding: 0;
  width: 30vw;
  margin-right: 20px;
  margin-bottom: 12px;
  font-family: 'Nekst Serif';
  font-weight: 900;
  font-size: 3rem;
  line-height: 0.9;
  color: rgb(215, 5, 5);
  text-align: right;
}

.columna_taka {
  display: flex;
  flex-direction: column;
}

.card {
  position: relative;
  width: 200px;
  aspect-ratio: 1;
  border: 8px solid #fff;
  border-radius: 20px;
  overflow: hidden;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.2);
  gap: 25px;

  .image {
    width: 100%;
    height: 100%;
    object-fit: cover;
  }
}

.card:nth-child(1) {
  rotate: 10deg;
  translate: calc(-2 * var(--gap));
}

.card:nth-child(2) {
  rotate: 5deg;
  translate: calc(-1 * var(--gap));
}

.card:nth-child(3) {
  rotate: -3deg;
}

.card:nth-child(4) {
  rotate: -10deg;
  translate: var(--gap);
}

.card:nth-child(5) {
  rotate: 20deg;
  translate: calc(2 * var(--gap));
}

.card:nth-child(6) {
  rotate: -6deg;
  translate: calc(2 * var(--gap));
}

.card:nth-child(7) {
  rotate: 2deg;
  translate: calc(2 * var(--gap));
}
